@model IEnumerable<QuanLyBanHang.Models.Cart>

@{
    ViewData["Title"] = "CheckOut";
    Layout = "~/Views/Shared/_LayoutCart.cshtml";

    decimal? totalCost = 0;
}

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="d-flex justify-content-center mb-5">
            <h1>Thanh toán</h1>
        </div>
        <div class="checkout__form">

            <form asp-action="CheckOut">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="shoping__cart__table">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="shoping__product">Sản phẩm</th>
                                        <th>Giá</th>
                                        <th>Số lượng</th>
                                        <th>Tổng tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="shoping__cart__item">
                                                <img style="width:100px;" src="~/images/@item.Product.ImageUrl" alt="">
                                                <h5>@item.Product.ProductName</h5>
                                            </td>
                                            <td class="shoping__cart__price">
                                                @item.SellingPrice
                                            </td>
                                            <td class="shoping__cart__quantity">
                                                @item.Quantity
                                            </td>
                                            <td class="shoping__cart__total">
                                                @item.TotalPrice
                                                @{
                                                    totalCost += item.TotalPrice;
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-6">

                        <h5 class="control-label mb-1" for="shippingAddress">Địa chỉ giao hàng:</h5>

                        <input style="height: 42px;" type="text" id="shippingAddress" name="shippingAddress" class="form-control" placeholder="Nhập địa chỉ giao hàng" required>

                    </div>

                    <div class="form-group col-6">

                        <h5 class="control-label mb-1" for="paymentMethod">Phương thức thanh toán:</h5>

                        <select style="float: none;" for="paymentMethod" id="paymentMethod" name="paymentMethod" class="form-control" required>
                            <option value="Thẻ tín dụng">Thẻ tín dụng</option> 
                            <option value="Thanh toán khi nhận hàng">Thanh toán khi nhận hàng</option>
                        </select>

                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="shoping__checkout">
                            <h5>Tổng tiền trong giỏ hàng</h5>
                            <ul>
                                <li> <h3>Tổng cộng: <span style="font-size: 30px;">@totalCost</span></h3> </li>
                            </ul>
                            <button style="width: 100%" type="submit" asp-controller="Carts" asp-action="CheckOut" class="site-btn">THANH TOÁN</button>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>
</section>
<!-- Checkout Section End -->

