@model QuanLyBanHang.Models.Product

@{
    ViewData["Title"] = "ChiTietSanPham";
    Layout = "~/Views/Shared/_LayoutHomepage.cshtml";
}

<!-- Product Details Section Begin -->
<section class="product-details spad col-12">
    <div class="container">
        <div class="row">
            <div class="col-6 m-auto">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img style="width:100%;" class="product__details__pic__item--large" src="~/images/@Model.ImageUrl" alt="">
                    </div>
                </div>
            </div>
            <div class="col-6 m-auto">
                <div class="product__details__text">
                    <h3>@Model.ProductName</h3>
                    <div class="product__details__rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <span>(18 reviews)</span>
                    </div>
                    <div class="product__details__price">@Model.SellingPrice</div>
                    <p>
                        @Model.Description
                    </p>
                    <div class="product__details__quantity">
                        <div class="quantity">
                            @if (ViewBag.Quantity != 0)
                            {
                                <p>Còn hàng: @ViewBag.Quantity</p>
                            } 
                            else
                            {
                                <p style="color: red;">Hết hàng!</p>
                            }
                        </div>
                    </div>

                    @if (User.Identity.IsAuthenticated && User.IsInRole("1"))
                    {
                        <div>
                            <a asp-action="AddToCart" asp-controller="Carts" asp-route-productId="@Model.ProductId" class="primary-btn">THÊM VÀO GIỎ HÀNG</a>
                            <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                        </div>
                    }
                    
                    <ul>
                        <li>
                            <b>Share on</b>
                            <div class="share">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->


